# Dependencies
node_modules/

# Output files
outputs/
*.csv
*.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Coverage & cache
coverage/
.cache/

# Temporary files
tmp/
temp/